.hidden {
  opacity: 0;
}

.right {
  display: inline-block;
  border: 0 solid black;
  border-radius: 0 1rem 1rem 0;
  background-color: #242424;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.left {
  display: inline-block;
  border: 0 solid black;
  border-radius: 1rem 0 0 1rem;
  background-color: #242424;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.controls {
  display: flex;
  grid-gap: 1rem;
  padding-top: 1rem;
}

.jogwheel {
  background-color: black;
  border: 1px solid darkorange;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.jogwheel.loaded {
  background: radial-gradient(black 60%, #222 62%, black 64%, #111 66%, black 100%);
  border: 1px solid darkorange;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}

.jogwheel.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.jogwheel > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.startMusicButtons {
  display: grid;
  grid-gap: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.startButton {
  background-color: black;
  border: 1px solid limegreen;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButtonBlink {
  animation: startButtonBlinkAnimation 1s linear infinite;
}

@keyframes startButtonBlinkAnimation {
  from { color: limegreen; border-color: limegreen; }
  to   { color: darkgreen; border-color: darkgreen; }
}

.queButton {
  background-color: black;
  border: 1px solid darkorange;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queButtonBlink {
  animation: queButtonBlinkAnimation 1s linear infinite;
}

@keyframes queButtonBlinkAnimation {
  from { color: darkorange; border-color: darkorange; }
  to   { color: coral; border-color: coral; }
}
