.center {
    display: inline-block;
    background-color: #242424;
    padding: 1rem 1rem;
    vertical-align: middle;
}

/* Position slider */
.positionSlider {
    height: 3.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Tick marks */
.positionSlider .ticks {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.positionSlider .ticks span {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 2px solid black;
    border-right: 0;
}

.positionSlider .ticks span:first-child {
    border-left: 0;
    border-right: 4px solid black;
}

.positionSlider .ticks span:last-child {
    border-left: 4px solid black;
    border-right: 0;
}

.positionSlider .ticks span:nth-child(2) {
    width: 2px;
    height: 12px;
    background-color: black;
    border: none;
}

/* Slider */
.positionSlider > input[type=range] {
    width: 100%;
    height: 2px;
    background: black;
    margin: 0;
    position: relative;
    -webkit-appearance: none;
}

/* Track (Chrome & Safari)*/
.positionSlider > input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    height: 3px;
    border-radius: 2px;
}

/* Thumb (Chrome & Safari)*/
.positionSlider > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -0.65rem; /* vertikal zentrieren */
    height: 1.5rem;
    width: 1rem;
    border: 0.3vmin solid white;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

/* Thumb (Firefox) */
.positionSlider > input[type=range]::-moz-range-thumb {
    height: 1.5rem;
    width: 1rem;
    border: 0.3vmin solid white;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

/* Volume slider */
.volumeSlider {
    height: 7rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1.5rem;
}

/* Tick marks */
.volumeSlider .ticks {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.volumeSlider .ticks span {
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 2px solid black;
}

.volumeSlider .ticks span:first-child {
    border-top-width: 4px;
}
.volumeSlider .ticks span:last-child {
    border-bottom: 4px solid black;
    border-top: 0;
}

/* Slider */
.volumeSlider > input[type=range] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 6.8rem;
    background: black;
    width: 2px;
    margin: 0;
    position: relative;
    -webkit-appearance: none;
}

/* Track (Chrome & Safari) */
.volumeSlider > input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border-radius: 2px;
    height: 3rem;
}

/* Thumb (Chrome & Safari) */
.volumeSlider > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -1vh;
    height: 2.3rem;
    width: 1.5rem;
    border: 0.5vmin solid white;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

/* Thumb (Firefox) */
.volumeSlider > input[type=range]::-moz-range-thumb {
    height: 2.3rem;
    width: 1.3rem;
    border: 0.5vmin solid white;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.center {
    display: grid;
    justify-items: center;
}

.mixer {
    display: flex;
    grid-gap: 1rem;
}

.channel {
    height: 24rem;
    width: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.hi {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}

.mid {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}

.low {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}

.cfx {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}