.center {
    display: inline-block;
    background-color: #242424;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.volumeSlider {
    margin-top: 1.5rem;
}

.center {
    display: grid;
    justify-items: center;
}

.mixer {
    display: flex;
    grid-gap: 1rem;
}

.channel {
    height: 24rem;
    width: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.hi {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}

.mid {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}

.low {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}

.cfx {
    height: 2rem;
    width: 2rem;
    background-color: black;
    border: 1px solid darkorange;
    border-radius: 50%;
}