.controller {
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px 10px darkorange;
}