#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controller {
  display: inline-block;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  overflow: hidden;
}

.right {
  display: inline-block;
  border: 1px solid red;
  background-color: blue;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.center {
  display: inline-block;
  border: 1px solid red;
  background-color: blue;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.left {
  display: inline-block;
  border: 1px solid red;
  background-color: blue;
  padding: 1rem 1rem;
  vertical-align: middle;
}