.hidden {
  opacity: 0;
}

.controller {
  border: 1px solid black;
  padding: 2rem 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.right {
  display: inline-block;
  border: 0 solid black;
  border-radius: 0 1rem 1rem 0;
  background-color: #242424;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.center {
  display: inline-block;
  background-color: #242424;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.left {
  display: inline-block;
  border: 0 solid black;
  border-radius: 1rem 0 0 1rem;
  background-color: #242424;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.controls {
  display: flex;
  grid-gap: 1rem;
  padding-top: 1rem;
}

.jogwheel {
  background-color: black;
  border: 1px solid darkorange;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.jogwheel > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.startMusicButtons {
  display: grid;
  grid-gap: 0.5rem;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.startButton {
  background-color: black;
  border: 1px solid limegreen;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queButton {
  background-color: black;
  border: 1px solid darkorange;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fxButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2rem;
  padding-top: 0.5rem;
}

.fxButtons > div {
  border: 3px solid darkorange;
  padding: 10px;
  height: 1rem;
  width: 1rem;
  font-size: 30px;
  text-align: center;
}

.slider {
  height: 7rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Tick marks */
.slider .ticks {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.slider .ticks span {
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 2px solid black;
}

.slider .ticks span:first-child {
  border-top-width: 4px;
}
.slider .ticks span:last-child {
  border-bottom: 4px solid black;
  border-top: 0;
}

/* Slider */
.slider > input[type=range] {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 6.8rem;
  background: black;
  width: 2px;
  margin: 0;
  position: relative;
  -webkit-appearance: none;
}

/* Track */
.slider > input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border-radius: 2px;
  height: 3rem;
  cursor: pointer;
}

/* Thumb */
.slider > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1vh;
  height: 2.3rem;
  width: 1.5rem;
  border: 0.5vmin solid white;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
}

.center {
  display: grid;
  justify-items: center;
}

.mixer {
  display: flex;
  grid-gap: 1rem;
}

.channel {
  background-color: black;
  height: 24rem;
  width: 3.5rem;
}

.positionSlider {
  background-color: black;
  height: 3.5rem;
  width: 7rem;
}