.horizontal {

}

.vertical {
    height: 7rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Tick marks */
.vertical .ticks {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.vertical .ticks span {
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 2px solid black;
}

.vertical .ticks span:first-child {
    border-top-width: 4px;
}
.vertical .ticks span:last-child {
    border-bottom: 4px solid black;
    border-top: 0;
}

/* Slider */
.vertical > input[type=range] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 6.8rem;
    background: black;
    width: 2px;
    margin: 0;
    position: relative;
    -webkit-appearance: none;
}

/* Track */
.vertical > input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border-radius: 2px;
    height: 3rem;
}

/* Thumb */
.vertical > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -1vh;
    height: 2.3rem;
    width: 1.5rem;
    border: 0.5vmin solid white;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

/* Thumb (Firefox) */
.vertical > input[type=range]::-moz-range-thumb {
    height: 2.3rem;
    width: 1.3rem;
    border: 0.5vmin solid white;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}